<div class="container mini">
    <form class="auth" action="/register" method="post">
        <h1>Регистрация</h1>
        <% if(message) { %>
            <div class="notice">
                <%= message %>
            </div>
        <% } %>
        <input type="text" class="form__field" name="username" placeholder="Имя пользователя">
        <input type="password" class="form__field" name="password" placeholder="Пароль">
        <input type="submit" class="form__button" value="Войти">
    </form>
</div>